@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #ea2a33;
  --color-background-light: #f8f6f6;
  --color-background-dark: #211111;
  --color-card-dark: #221112;
  --color-border-dark: #472426;
  --color-text-muted: #c89295;
  --color-input-dark: #472426;

  --animate-spin-slow: spin-slow 3s linear infinite;

  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  max-width: 100vw;
}